body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #83462f, #b296f1);
    color: #302b2b;
    font-weight: 600;
}

.container {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    background: transparent;
    /*box-shadow: 8px 8px 4px #909090, 8px 8px 0px #575757;*/
    width: auto;
}

.container h1 {
    font-size: 1.4rem;
    margin-block: 8px;
}

.inputBox {
    position: relative;
}

#sliderValue {
    color: rgb(184, 241, 187);
}

.inputBox span {
    position: absolute;
    top: 16px;
    right: 6px;
    color: #000;
    font-size: 28px;
    cursor: pointer;
    z-index: 3;
}

.passBox {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    font-size: 20px;
    margin-block: 8px;
    text-overflow: ellipsis;
}

.head {
    font-size: xx-large;
    color: rgb(211, 245, 116);
}

.row {
    display: flex;
    margin-block: 8px;
}

.row p,
.row label {
    flex-basis: 100%;
    font-size: 18px;
}

.row input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.genBtn {
    border: none;
    outline: none;
    background-color: #3e2f68;
    padding: 12px 24px;
    color: rgb(211, 245, 116);
    font-size: 18px;
    margin-block: 8px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
}

.genBtn:hover {
    background-color: #301f5f;
    color: rgb(215, 219, 204);
}

@media screen and (max-width: 375px) {
    .passBox {
        width: 280px;
    }

    .inputBox span {
        position: absolute;
        top: 16px;
        right: 10px;
        color: #000;
        font-size: 28px;
        cursor: pointer;
        z-index: 3;
    }

    .container {
        width: auto;
        border: none;
    }
    }